@model BiblioMeta2.Models.Knjiga

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj knjigo</h1>

<h4>Knjiga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Besedilo" class="control-label"></label>
                <textarea asp-for="Besedilo" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Besedilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZanrID" class="control-label">Zanr</label>
                <select asp-for="ZanrID" class="form-control" asp-items="ViewBag.ZanrID"></select>
                <span asp-validation-for="ZanrID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvtorID" class="control-label">Avtor</label>
                <select asp-for="AvtorID" class="form-control" asp-items="ViewBag.AvtorID"></select>
                <span asp-validation-for="AvtorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj na seznam</a>
</div>

