@model BiblioMeta2.Models.Knjiga

@{
    ViewData["Title"] = "Edit";
}

<h1>Uredi</h1>

<h4>Knjiga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KnjigaID" />
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Besedilo" class="control-label"></label>
                <textarea asp-for="Besedilo" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Besedilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StStrani" class="control-label">Strani</label>
                <input asp-for="StStrani" class="form-control" />
                <span asp-validation-for="StStrani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StZnakov" class="control-label">Znaki</label>
                <input asp-for="StZnakov" class="form-control" />
                <span asp-validation-for="StZnakov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZanrID" class="control-label">Žanr</label>
                <select asp-for="ZanrID" class="form-control" asp-items="ViewBag.ZanrID"></select>
                <span asp-validation-for="ZanrID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvtorID" class="control-label">Avtor</label>
                <select asp-for="AvtorID" class="form-control" asp-items="ViewBag.AvtorID"></select>
                <span asp-validation-for="AvtorID" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Shrani" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj na seznam</a>
</div>

