@model BiblioMeta2.Models.Zanr

@{
    ViewData["Title"] = "Delete";
}

<h1>Izbriši</h1>

<h3>Si prepričan, da želiš izbrisati?</h3>
<div>
    <h4>Žanr</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Ime žanra</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeZanra)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ZanrID" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
