@model BiblioMeta2.Models.Zanr

@{
    ViewData["Title"] = "Details";
}

<h1>Podrobnsoti</h1>

<div>
    <h4>Žanr</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Ime žanra</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeZanra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ZanrID">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
