@model IEnumerable<BiblioMeta2.Models.Zanr>

@{
    ViewData["Title"] = "Index";
}

<h1>Žanri</h1>

<p>
    <a asp-action="Create">Dodaj žanr</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Ime žanra</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImeZanra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ZanrID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.ZanrID">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.ZanrID">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
